{% load static %}

<!doctype html>
<html>
  <head>
    <title>VOID-TERMINAL</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div id="hud">
      <h1>SYSTEM STATUS: ONLINE</h1>
      <div id="console">
        <p>> Initializing Void-Interface...</p>
        <p>> Connection established with Captain.</p>
      </div>
      <div id="launch-matrix">
        <div class="matrix-grid">
          <a href="https://google.com" target="_blank" class="matrix-button"
            >SYSTEM_SEARCH</a
          >
          <a href="https://github.com" target="_blank" class="matrix-button"
            >CODE_VAULT</a
          >
          <a href="https://youtube.com" target="_blank" class="matrix-button"
            >MEDIA_STREAM</a
          >
          <a href="https://svt.se" target="_blank" class="matrix-button"
            >VOID_NET</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
