{% extends "dashboard/base.html" %} {% block content %}
<div class="weather-container">
  <div class="weather-header">
    <span class="status-led"></span>WEATHER in {{city}}
  </div>

  <div class="weather-body">
    <div class="scanning-line"></div>
    <div class="data-readout">
      <span class="weather-label">TARGET COORDINATES:</span>
      <span class="weather-value">{{city | upper}}</span>
      <hr class="neon-divider" />
      <span class="weather-label">SENSORY DATA: </span>
      <span class="value highlight">{{weather}}</span>
    </div>
  </div>
</div>

{% endblock %}
